.navbar{
    min-height: 80px;
}

.nav-background {
    background-image: url("./asset/navBackground.jpg");
    background-size: cover;
  }

@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
    }
    